/* ======================
   pie Pies Module
   ======================= */
.pie {
  height: 100px; }
  .pie.full .pie-half.right,
  .pie.full .pie-half.left {
    background-color: #66BB6A;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .pie.full.negative .pie-bg {
    color: #E53935; }
  .pie.full.negative .pie-half.right,
  .pie.full.negative .pie-half.left {
    background-color: #E57373; }
  .pie .pie-bg,
  .pie .pie-half-container,
  .pie .pie-half {
    position: absolute;
    width: 100px;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  .pie .pie-bg {
    background-color: #BDBDBD;
    text-align: center;
    line-height: 100px;
    vertical-align: baseline;
    font-size: 1.5em; }
    .pie .pie-bg small {
      font-size: 0.5em; }
  .pie .pie-half-container {
    clip: rect(0px, 100px, 100px, 50px); }
    .pie .pie-half-container .pie-half {
      clip: rect(0px, 50px, 100px, 0px); }
    .pie .pie-half-container.left {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.pie[data-minutes="1"] .pie-half.right {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
  background-color: #E57373; }

.pie[data-minutes="-1"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-1"] .pie-half.left {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
  background-color: #E57373; }

.pie[data-minutes="2"] .pie-half.right {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
  background-color: #E57373; }

.pie[data-minutes="-2"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-2"] .pie-half.left {
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  transform: rotate(-12deg);
  background-color: #E57373; }

.pie[data-minutes="3"] .pie-half.right {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
  background-color: #E57373; }

.pie[data-minutes="-3"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-3"] .pie-half.left {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
  background-color: #E57373; }

.pie[data-minutes="4"] .pie-half.right {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
  background-color: #E57373; }

.pie[data-minutes="-4"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-4"] .pie-half.left {
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  transform: rotate(-24deg);
  background-color: #E57373; }

.pie[data-minutes="5"] .pie-half.right {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  background-color: #E57373; }

.pie[data-minutes="-5"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-5"] .pie-half.left {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: #E57373; }

.pie[data-minutes="6"] .pie-half.right {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
  background-color: #E57373; }

.pie[data-minutes="-6"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-6"] .pie-half.left {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
  background-color: #E57373; }

.pie[data-minutes="7"] .pie-half.right {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
  background-color: #E57373; }

.pie[data-minutes="-7"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-7"] .pie-half.left {
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  -ms-transform: rotate(-42deg);
  -o-transform: rotate(-42deg);
  transform: rotate(-42deg);
  background-color: #E57373; }

.pie[data-minutes="8"] .pie-half.right {
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  transform: rotate(48deg);
  background-color: #E57373; }

.pie[data-minutes="-8"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-8"] .pie-half.left {
  -webkit-transform: rotate(-48deg);
  -moz-transform: rotate(-48deg);
  -ms-transform: rotate(-48deg);
  -o-transform: rotate(-48deg);
  transform: rotate(-48deg);
  background-color: #E57373; }

.pie[data-minutes="9"] .pie-half.right {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
  background-color: #E57373; }

.pie[data-minutes="-9"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-9"] .pie-half.left {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
  background-color: #E57373; }

.pie[data-minutes="10"] .pie-half.right {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  background-color: #E57373; }

.pie[data-minutes="-10"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-10"] .pie-half.left {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  background-color: #E57373; }

.pie[data-minutes="11"] .pie-half.right {
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  -o-transform: rotate(66deg);
  transform: rotate(66deg);
  background-color: #E57373; }

.pie[data-minutes="-11"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-11"] .pie-half.left {
  -webkit-transform: rotate(-66deg);
  -moz-transform: rotate(-66deg);
  -ms-transform: rotate(-66deg);
  -o-transform: rotate(-66deg);
  transform: rotate(-66deg);
  background-color: #E57373; }

.pie[data-minutes="12"] .pie-half.right {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
  background-color: #E57373; }

.pie[data-minutes="-12"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-12"] .pie-half.left {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
  background-color: #E57373; }

.pie[data-minutes="13"] .pie-half.right {
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  -o-transform: rotate(78deg);
  transform: rotate(78deg);
  background-color: #E57373; }

.pie[data-minutes="-13"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-13"] .pie-half.left {
  -webkit-transform: rotate(-78deg);
  -moz-transform: rotate(-78deg);
  -ms-transform: rotate(-78deg);
  -o-transform: rotate(-78deg);
  transform: rotate(-78deg);
  background-color: #E57373; }

.pie[data-minutes="14"] .pie-half.right {
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg);
  background-color: #E57373; }

.pie[data-minutes="-14"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-14"] .pie-half.left {
  -webkit-transform: rotate(-84deg);
  -moz-transform: rotate(-84deg);
  -ms-transform: rotate(-84deg);
  -o-transform: rotate(-84deg);
  transform: rotate(-84deg);
  background-color: #E57373; }

.pie[data-minutes="15"] .pie-half.right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #66BB6A; }

.pie[data-minutes="-15"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-15"] .pie-half.left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: #E57373; }

.pie[data-minutes="16"] .pie-half.right {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
  background-color: #66BB6A; }

.pie[data-minutes="-16"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-16"] .pie-half.left {
  -webkit-transform: rotate(-96deg);
  -moz-transform: rotate(-96deg);
  -ms-transform: rotate(-96deg);
  -o-transform: rotate(-96deg);
  transform: rotate(-96deg);
  background-color: #E57373; }

.pie[data-minutes="17"] .pie-half.right {
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  -o-transform: rotate(102deg);
  transform: rotate(102deg);
  background-color: #66BB6A; }

.pie[data-minutes="-17"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-17"] .pie-half.left {
  -webkit-transform: rotate(-102deg);
  -moz-transform: rotate(-102deg);
  -ms-transform: rotate(-102deg);
  -o-transform: rotate(-102deg);
  transform: rotate(-102deg);
  background-color: #E57373; }

.pie[data-minutes="18"] .pie-half.right {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
  background-color: #66BB6A; }

.pie[data-minutes="-18"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-18"] .pie-half.left {
  -webkit-transform: rotate(-108deg);
  -moz-transform: rotate(-108deg);
  -ms-transform: rotate(-108deg);
  -o-transform: rotate(-108deg);
  transform: rotate(-108deg);
  background-color: #E57373; }

.pie[data-minutes="19"] .pie-half.right {
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg);
  background-color: #66BB6A; }

.pie[data-minutes="-19"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-19"] .pie-half.left {
  -webkit-transform: rotate(-114deg);
  -moz-transform: rotate(-114deg);
  -ms-transform: rotate(-114deg);
  -o-transform: rotate(-114deg);
  transform: rotate(-114deg);
  background-color: #E57373; }

.pie[data-minutes="20"] .pie-half.right {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  background-color: #66BB6A; }

.pie[data-minutes="-20"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-20"] .pie-half.left {
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
  background-color: #E57373; }

.pie[data-minutes="21"] .pie-half.right {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
  background-color: #66BB6A; }

.pie[data-minutes="-21"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-21"] .pie-half.left {
  -webkit-transform: rotate(-126deg);
  -moz-transform: rotate(-126deg);
  -ms-transform: rotate(-126deg);
  -o-transform: rotate(-126deg);
  transform: rotate(-126deg);
  background-color: #E57373; }

.pie[data-minutes="22"] .pie-half.right {
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg);
  background-color: #66BB6A; }

.pie[data-minutes="-22"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-22"] .pie-half.left {
  -webkit-transform: rotate(-132deg);
  -moz-transform: rotate(-132deg);
  -ms-transform: rotate(-132deg);
  -o-transform: rotate(-132deg);
  transform: rotate(-132deg);
  background-color: #E57373; }

.pie[data-minutes="23"] .pie-half.right {
  -webkit-transform: rotate(138deg);
  -moz-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  -o-transform: rotate(138deg);
  transform: rotate(138deg);
  background-color: #66BB6A; }

.pie[data-minutes="-23"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-23"] .pie-half.left {
  -webkit-transform: rotate(-138deg);
  -moz-transform: rotate(-138deg);
  -ms-transform: rotate(-138deg);
  -o-transform: rotate(-138deg);
  transform: rotate(-138deg);
  background-color: #E57373; }

.pie[data-minutes="24"] .pie-half.right {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
  background-color: #66BB6A; }

.pie[data-minutes="-24"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-24"] .pie-half.left {
  -webkit-transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  -ms-transform: rotate(-144deg);
  -o-transform: rotate(-144deg);
  transform: rotate(-144deg);
  background-color: #E57373; }

.pie[data-minutes="25"] .pie-half.right {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  background-color: #66BB6A; }

.pie[data-minutes="-25"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-25"] .pie-half.left {
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  transform: rotate(-150deg);
  background-color: #E57373; }

.pie[data-minutes="26"] .pie-half.right {
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -o-transform: rotate(156deg);
  transform: rotate(156deg);
  background-color: #66BB6A; }

.pie[data-minutes="-26"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-26"] .pie-half.left {
  -webkit-transform: rotate(-156deg);
  -moz-transform: rotate(-156deg);
  -ms-transform: rotate(-156deg);
  -o-transform: rotate(-156deg);
  transform: rotate(-156deg);
  background-color: #E57373; }

.pie[data-minutes="27"] .pie-half.right {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
  background-color: #66BB6A; }

.pie[data-minutes="-27"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-27"] .pie-half.left {
  -webkit-transform: rotate(-162deg);
  -moz-transform: rotate(-162deg);
  -ms-transform: rotate(-162deg);
  -o-transform: rotate(-162deg);
  transform: rotate(-162deg);
  background-color: #E57373; }

.pie[data-minutes="28"] .pie-half.right {
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  -o-transform: rotate(168deg);
  transform: rotate(168deg);
  background-color: #66BB6A; }

.pie[data-minutes="-28"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-28"] .pie-half.left {
  -webkit-transform: rotate(-168deg);
  -moz-transform: rotate(-168deg);
  -ms-transform: rotate(-168deg);
  -o-transform: rotate(-168deg);
  transform: rotate(-168deg);
  background-color: #E57373; }

.pie[data-minutes="29"] .pie-half.right {
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  -o-transform: rotate(174deg);
  transform: rotate(174deg);
  background-color: #66BB6A; }

.pie[data-minutes="-29"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-29"] .pie-half.left {
  -webkit-transform: rotate(-174deg);
  -moz-transform: rotate(-174deg);
  -ms-transform: rotate(-174deg);
  -o-transform: rotate(-174deg);
  transform: rotate(-174deg);
  background-color: #E57373; }

.pie[data-minutes="30"] .pie-half.right {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #66BB6A; }

.pie[data-minutes="-30"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-30"] .pie-half.left {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-color: #E57373; }

.pie[data-minutes="31"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="31"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg); }

.pie[data-minutes="-31"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-31"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg); }
.pie[data-minutes="-31"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="32"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="32"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg); }

.pie[data-minutes="-32"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-32"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  transform: rotate(-12deg); }
.pie[data-minutes="-32"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="33"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="33"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg); }

.pie[data-minutes="-33"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-33"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg); }
.pie[data-minutes="-33"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="34"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="34"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg); }

.pie[data-minutes="-34"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-34"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  transform: rotate(-24deg); }
.pie[data-minutes="-34"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="35"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="35"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg); }

.pie[data-minutes="-35"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-35"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg); }
.pie[data-minutes="-35"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="36"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="36"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg); }

.pie[data-minutes="-36"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-36"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg); }
.pie[data-minutes="-36"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="37"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="37"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg); }

.pie[data-minutes="-37"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-37"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  -ms-transform: rotate(-42deg);
  -o-transform: rotate(-42deg);
  transform: rotate(-42deg); }
.pie[data-minutes="-37"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="38"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="38"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  transform: rotate(48deg); }

.pie[data-minutes="-38"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-38"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-48deg);
  -moz-transform: rotate(-48deg);
  -ms-transform: rotate(-48deg);
  -o-transform: rotate(-48deg);
  transform: rotate(-48deg); }
.pie[data-minutes="-38"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="39"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="39"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg); }

.pie[data-minutes="-39"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-39"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg); }
.pie[data-minutes="-39"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="40"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="40"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg); }

.pie[data-minutes="-40"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-40"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg); }
.pie[data-minutes="-40"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="41"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="41"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  -o-transform: rotate(66deg);
  transform: rotate(66deg); }

.pie[data-minutes="-41"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-41"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-66deg);
  -moz-transform: rotate(-66deg);
  -ms-transform: rotate(-66deg);
  -o-transform: rotate(-66deg);
  transform: rotate(-66deg); }
.pie[data-minutes="-41"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="42"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="42"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg); }

.pie[data-minutes="-42"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-42"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg); }
.pie[data-minutes="-42"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="43"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="43"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  -o-transform: rotate(78deg);
  transform: rotate(78deg); }

.pie[data-minutes="-43"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-43"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-78deg);
  -moz-transform: rotate(-78deg);
  -ms-transform: rotate(-78deg);
  -o-transform: rotate(-78deg);
  transform: rotate(-78deg); }
.pie[data-minutes="-43"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="44"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="44"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg); }

.pie[data-minutes="-44"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-44"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-84deg);
  -moz-transform: rotate(-84deg);
  -ms-transform: rotate(-84deg);
  -o-transform: rotate(-84deg);
  transform: rotate(-84deg); }
.pie[data-minutes="-44"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="45"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="45"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.pie[data-minutes="-45"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-45"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.pie[data-minutes="-45"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="46"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="46"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg); }

.pie[data-minutes="-46"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-46"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-96deg);
  -moz-transform: rotate(-96deg);
  -ms-transform: rotate(-96deg);
  -o-transform: rotate(-96deg);
  transform: rotate(-96deg); }
.pie[data-minutes="-46"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="47"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="47"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  -o-transform: rotate(102deg);
  transform: rotate(102deg); }

.pie[data-minutes="-47"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-47"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-102deg);
  -moz-transform: rotate(-102deg);
  -ms-transform: rotate(-102deg);
  -o-transform: rotate(-102deg);
  transform: rotate(-102deg); }
.pie[data-minutes="-47"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="48"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="48"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg); }

.pie[data-minutes="-48"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-48"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-108deg);
  -moz-transform: rotate(-108deg);
  -ms-transform: rotate(-108deg);
  -o-transform: rotate(-108deg);
  transform: rotate(-108deg); }
.pie[data-minutes="-48"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="49"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="49"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg); }

.pie[data-minutes="-49"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-49"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-114deg);
  -moz-transform: rotate(-114deg);
  -ms-transform: rotate(-114deg);
  -o-transform: rotate(-114deg);
  transform: rotate(-114deg); }
.pie[data-minutes="-49"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="50"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="50"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg); }

.pie[data-minutes="-50"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-50"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg); }
.pie[data-minutes="-50"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="51"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="51"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg); }

.pie[data-minutes="-51"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-51"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-126deg);
  -moz-transform: rotate(-126deg);
  -ms-transform: rotate(-126deg);
  -o-transform: rotate(-126deg);
  transform: rotate(-126deg); }
.pie[data-minutes="-51"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="52"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="52"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg); }

.pie[data-minutes="-52"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-52"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-132deg);
  -moz-transform: rotate(-132deg);
  -ms-transform: rotate(-132deg);
  -o-transform: rotate(-132deg);
  transform: rotate(-132deg); }
.pie[data-minutes="-52"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="53"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="53"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(138deg);
  -moz-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  -o-transform: rotate(138deg);
  transform: rotate(138deg); }

.pie[data-minutes="-53"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-53"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-138deg);
  -moz-transform: rotate(-138deg);
  -ms-transform: rotate(-138deg);
  -o-transform: rotate(-138deg);
  transform: rotate(-138deg); }
.pie[data-minutes="-53"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="54"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="54"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg); }

.pie[data-minutes="-54"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-54"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  -ms-transform: rotate(-144deg);
  -o-transform: rotate(-144deg);
  transform: rotate(-144deg); }
.pie[data-minutes="-54"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="55"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="55"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg); }

.pie[data-minutes="-55"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-55"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  transform: rotate(-150deg); }
.pie[data-minutes="-55"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="56"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="56"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -o-transform: rotate(156deg);
  transform: rotate(156deg); }

.pie[data-minutes="-56"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-56"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-156deg);
  -moz-transform: rotate(-156deg);
  -ms-transform: rotate(-156deg);
  -o-transform: rotate(-156deg);
  transform: rotate(-156deg); }
.pie[data-minutes="-56"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="57"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="57"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg); }

.pie[data-minutes="-57"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-57"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-162deg);
  -moz-transform: rotate(-162deg);
  -ms-transform: rotate(-162deg);
  -o-transform: rotate(-162deg);
  transform: rotate(-162deg); }
.pie[data-minutes="-57"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="58"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="58"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  -o-transform: rotate(168deg);
  transform: rotate(168deg); }

.pie[data-minutes="-58"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-58"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-168deg);
  -moz-transform: rotate(-168deg);
  -ms-transform: rotate(-168deg);
  -o-transform: rotate(-168deg);
  transform: rotate(-168deg); }
.pie[data-minutes="-58"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="59"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="59"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  -o-transform: rotate(174deg);
  transform: rotate(174deg); }

.pie[data-minutes="-59"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-59"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-174deg);
  -moz-transform: rotate(-174deg);
  -ms-transform: rotate(-174deg);
  -o-transform: rotate(-174deg);
  transform: rotate(-174deg); }
.pie[data-minutes="-59"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.pie[data-minutes="60"] .pie-half.right {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.pie[data-minutes="60"] .pie-half.left {
  background-color: #66BB6A;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.pie[data-minutes="-60"] .pie-bg {
  color: #E53935; }
.pie[data-minutes="-60"] .pie-half.right {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }
.pie[data-minutes="-60"] .pie-half.left {
  background-color: #E57373;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

/*# sourceMappingURL=pie.css.map */
