/* ======================
   Timer Pies Module
   ======================= */

$timer-size: 100px;

$timer-border: 6px;
$timer-border-color-base: #9F9F9F;
$timer-border-color-regular: #D8E47F;
$timer-border-color-warning: #F5DE87;

.timer {
  height: $timer-size;

  .timer-bg,
  .timer-half-container,
  .timer-half,
  {
    position: absolute;
    width: $timer-size;
    height: $timer-size;
    @include border-radius($timer-size/2);
  }

  .timer-bg {
    border: $timer-border solid $timer-border-color-base;
  }

  .timer-half-container {
    clip: rect(0px, $timer-size, $timer-size, $timer-size/2);

    .timer-half {
      clip: rect(0px, $timer-size/2, $timer-size, 0px);
    }

    &.left {
      @include transform(rotate(180deg));
    }

  }

}

@for $minute from 1 through 30 {

  $deg: (360/60 * $minute);

  // positive minutes
  .timer[data-minutes="#{$minute}"] {

    .timer-half.right {

      @include transform(rotate(#{$deg}deg));

      @if $minute < 15 {
        border: $timer-border solid $timer-border-color-warning;
      } @else {
        border: $timer-border solid $timer-border-color-regular;
      }

    }

  }

  // negative minutes
  .timer[data-minutes="-#{$minute}"] {

    .timer-half.left {
      @include transform(rotate(-#{$deg}deg));
      border: $timer-border solid $timer-border-color-warning;
    }

  }

}

@for $minute from 31 through 60 {

  $deg: (360/60 * ($minute - 30));

  // positive minutes
  .timer[data-minutes="#{$minute}"] {

    // right half must be filled completely for minutes > 30
    .timer-half.right {
      border: $timer-border solid $timer-border-color-regular;
      @include transform(rotate(180deg));
    }

    // left half must be filled prorata temporis
    .timer-half.left {
      border: $timer-border solid $timer-border-color-regular;
      @include transform(rotate(#{$deg}deg));
    }

  }

  // negative minutes
  .timer[data-minutes="-#{$minute}"] {

    // right half must be filled prorata temporis
    .timer-half.right {
      border: $timer-border solid $timer-border-color-warning;
      @include transform(rotate(-#{$deg}deg));
    }

    // left half must be filled completely for minutes < -30
    .timer-half.left {
      border: $timer-border solid $timer-border-color-warning;
      @include transform(rotate(-180deg));
    }

  }

}