/* ======================
   pie Pies Module
   ======================= */

$timer-size: 100px;

$timer-bg-base: #BDBDBD;
$timer-bg-regular: #66BB6A;
$timer-bg-warning: #E57373;

$timer-color-regular: inherit;
$timer-color-warning: #E53935;

.pie {
  height: $timer-size;

  &.full {

    .pie-half.right,
    .pie-half.left {
      background-color: $timer-bg-regular;
      @include transform(rotate(180deg));
    }

    &.negative {

      .pie-bg {
        color: $timer-color-warning;
      }

      .pie-half.right,
      .pie-half.left {
        background-color: $timer-bg-warning;
      }

    }

  }

  .pie-bg,
  .pie-half-container,
  .pie-half,
  {
    position: absolute;
    width: $timer-size;
    height: $timer-size;
    @include border-radius($timer-size/2);
  }

  .pie-bg {
    background-color: $timer-bg-base;

    // styling for displaying minutes as text
    text-align: center;
    line-height: $timer-size;
    vertical-align: baseline;
    font-size: 1.5em;

    small {
      font-size: 0.5em;
    }

  }

  .pie-half-container {
    clip: rect(0px, $timer-size, $timer-size, $timer-size/2);

    .pie-half {
      clip: rect(0px, $timer-size/2, $timer-size, 0px);
    }

    &.left {
      @include transform(rotate(180deg));
    }

  }

}

@for $minute from 1 through 30 {

  $deg: (360/60 * $minute);

  // positive minutes
  .pie[data-minutes="#{$minute}"] {

    .pie-half.right {

      @include transform(rotate(#{$deg}deg));

      @if $minute < 15 {
        background-color: $timer-bg-warning;
      } @else {
        background-color: $timer-bg-regular;
      }

    }

  }

  // negative minutes
  .pie[data-minutes="-#{$minute}"] {

    .pie-bg {
      color: $timer-color-warning;
    }

    .pie-half.left {
      @include transform(rotate(-#{$deg}deg));
      background-color: $timer-bg-warning;
    }

  }

}

@for $minute from 31 through 60 {

  $deg: (360/60 * ($minute - 30));

  // positive minutes
  .pie[data-minutes="#{$minute}"] {

    // right half must be filled completely for minutes > 30
    .pie-half.right {
      background-color: $timer-bg-regular;
      @include transform(rotate(180deg));
    }

    // left half must be filled prorata temporis
    .pie-half.left {
      background-color: $timer-bg-regular;
      @include transform(rotate(#{$deg}deg));
    }

  }

  // negative minutes
  .pie[data-minutes="-#{$minute}"] {

    .pie-bg {
      color: $timer-color-warning;
    }

    // right half must be filled prorata temporis
    .pie-half.right {
      background-color: $timer-bg-warning;
      @include transform(rotate(-#{$deg}deg));
    }

    // left half must be filled completely for minutes < -30
    .pie-half.left {
      background-color: $timer-bg-warning;
      @include transform(rotate(-180deg));
    }

  }

}