<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CSS3 Timer Pies</title>
    <link rel="stylesheet" href="css/timer.css"/>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var template = _.template($("#timer-tpl").html());

            _.each([7, 42, 113, -5], function (minute) {

                $("#timers").append(template({minutes: minute}));

            });

        })

    </script>
</head>
<body>

<div class="container">

    <div class="row">

        <h1 class="col col-12 capitalize text-center font-bold">Demonstration of timer pies</h1>

        <div class="col col-12">
            <h2 class="col col-12 capitalize">Timer pies with border</h2>
            <div class="col col-12" id="timers"><!-- append different timers here --></div>
            <div class="col col-12">[SHOW CODE HERE]</div>
        </div>

    </div><!-- end of row -->

</div><!-- end of container -->

<script type="text/html" id="timer-tpl">
    <div class="col col-1-4 mobile-full timer <%= minutes >= 60 ? 'full' : '' %> <%= minutes <= -60 ? 'full negative' : '' %>"
         data-minutes="<%= minutes %>">
        <div class="timer-bg"><%= minutes %>
            <small>m</small>
        </div>
        <div class="timer-half-container right">
            <div class="timer-half right"></div>
        </div>
        <div class="timer-half-container left">
            <div class="timer-half left"></div>
        </div>
    </div>
</script>

</body>
</html>